﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.FirstName">First name</label>
                    <input asp-for="Input.FirstName" class="form-control" placeholder="First name" required>
                    <span asp-validation-for="Input.FirstName"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.LastName">Last name</label>
                    <input asp-for="Input.LastName" class="form-control" placeholder="Last name" required>
                    <span asp-validation-for="Input.LastName"></span>
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.IdentityCardNumber">IC Number</label>
                    <input asp-for="Input.IdentityCardNumber" class="form-control" placeholder="First name" required>
                    <span asp-validation-for="Input.IdentityCardNumber"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.Age">Age</label>
                    <input asp-for="Input.Age" class="form-control" placeholder="Age" required>
                    <span asp-validation-for="Input.Age"></span>
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.Gender">Gender</label>
                    <select asp-for="Input.Gender" class="custom-select" asp-items="Html.GetEnumSelectList<Web.Areas.Identity.Data.Gender>()">
                    </select>
                    <span asp-validation-for="Input.Gender"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.MonthlyIncome">Monthly Income</label>
                    <input asp-for="Input.MonthlyIncome" class="form-control" placeholder="Monthly Income" required>
                    <span asp-validation-for="Input.MonthlyIncome"></span>
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" required>
                    <span asp-validation-for="Input.Email"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.PhoneNumber">Phone Number</label>
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" required>
                    <span asp-validation-for="Input.PhoneNumber"></span>
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" required>
                    <span asp-validation-for="Input.Password"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                    <span asp-validation-for="Input.ConfirmPassword"></span>
                </div>

            </div>

            <a class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Login">Reset</a>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
