﻿@page "{id?}"
@model Web.Pages.Admin.ApplicationDetailModel
@{
    ViewData["Title"] = "ApplicationDetail";
}

<h1>[@Model.Input.RequestType] - @Model.Input.Title</h1>

<form class="needs-validation" asp-page="admin/ApplicationDetail/@Model.Input.RequestId" method="post">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Input.FirstName">First name</label>
            <input asp-for="Input.FirstName" class="form-control" placeholder="First name" value="@Model.Input.FirstName" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Input.LastName">Last name</label>
            <input asp-for="Input.LastName" class="form-control" placeholder="Last name" value="@Model.Input.LastName" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control" placeholder="Email" value="@Model.Input.Email" disabled>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Input.IdentityCardNumber">IC Number</label>
            <input asp-for="Input.IdentityCardNumber" class="form-control" placeholder="IC Number" value="@Model.Input.IdentityCardNumber" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Input.Gender">Gender</label>
            <input asp-for="Input.Gender" class="form-control" placeholder="Gender" value="@Model.Input.Gender" disabled>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Input.Age">Age</label>
            <input asp-for="Input.Age" class="form-control" placeholder="Age" value="@Model.Input.Age" disabled>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <label asp-for="Input.Address">Address</label>
            <input asp-for="Input.Address" class="form-control" placeholder="Address" value="@Model.Input.Address" disabled>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label asp-for="Input.Phone">Phone</label>
            <input asp-for="Input.Phone" class="form-control" placeholder="Phone" value="@Model.Input.Phone" disabled>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Input.MonthlyIncome">Monthly Income</label>
            <input asp-for="Input.MonthlyIncome" class="form-control" placeholder="Monthly Income" value="@Model.Input.MonthlyIncome" disabled>
        </div>

    </div>

    <div class="form-group">
        <label asp-for="Input.Description">Request Description</label>
        <textarea asp-for="Input.Description" class="form-control" disabled>@Model.Input.Description</textarea>
    </div>


    <div class="form-group">
        <label asp-for="Input.Status">Status</label>
        <select asp-for="Input.Status" class="custom-select" asp-items="Html.GetEnumSelectList<Web.Domain.Entities.SupportStatus>()">
        </select>
        <span asp-validation-for="Input.Status"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.StatusReason">Reason</label>
        <textarea asp-for="Input.StatusReason" class="form-control" placeholder="Reason">@Model.Input.StatusReason</textarea>
        <span asp-validation-for="Input.StatusReason"></span>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
    <a class="btn btn-outline-secondary" asp-page="/Admin/Index" >Go Back</a>
</form>

