﻿@page

@model Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Support Request</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">User Email</th>
            <th scope="col">Title</th>
            <th scope="col">Request Type</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SupportDetails)
        {
        <tr>
            <td>@item.UserEmail</td>
            <td>@item.Title</td>
            <td>@item.RequestType</td>
            <td>@item.Status</td>
            <td>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <form asp-page-handler="Approve" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                    </div>

                    <div class="p-2">
                        <form asp-page-handler="Reject" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-outline-danger">Reject</button>
                        </form>
                    </div>

                    <div class="p-2">
                        <a class="btn btn-primary" asp-page="ApplicationDetail" asp-route-id="@item.Id">Detail</a>
                    </div>
                </div>



            </td>
        </tr>
        }
    </tbody>
</table>


