﻿@page
@model Web.Pages.Support.IndexModel
@{
    ViewData["Title"] = "Support";
}

<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" asp-page="Support" method="post">
                <h4>Request Support</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Title"></label>
                    <input asp-for="Input.Title" class="form-control" />
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.RequestType">Request Type</label>
                    <select asp-for="Input.RequestType" class="custom-select" asp-items="Html.GetEnumSelectList<Web.Pages.Support.IndexModel.RequestTypeDto>()">
                    </select>
                    <span asp-validation-for="Input.RequestType"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.Address">Address</label>
                        <textarea asp-for="Input.Address" class="form-control" required></textarea>
                        <span asp-validation-for="Input.RequestType"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.Description">Describe your request</label>
                        <textarea asp-for="Input.Description" class="form-control" required></textarea>
                        <span asp-validation-for="Input.Description"></span>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a asp-page="/Index" class="btn btn-outline-primary">Reset</a>
                </div>
            </form>
        </section>
    </div>

</div>

