﻿@page
@model Web.Pages.Support.StatusModel
@{
    ViewData["Title"] = "Status";
}

<h1>Status</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>@Model.UserSupportDetailVm.Name</td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>@Model.UserSupportDetailVm.Status</td>
        </tr>
        <tr>
            <th scope="row">Reason</th>
            <td colspan="2">@Model.UserSupportDetailVm.Reason</td>
        </tr>
    </tbody>
</table>