﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




@if (Model.Vm.Count == 0 && !ViewContext.HttpContext.User.IsInRole(Web.Areas.Identity.Data.Authorization.Constants.AdministratorsRole))
{
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Welcome</h1>
            <p class="lead my-3">If you need help regarding covid-19</p>
            <a class="button button-primary" asp-page="Support/Index">Apply for support.</a>
        </div>
    </div>
}

@if (ViewContext.HttpContext.User.IsInRole(Web.Areas.Identity.Data.Authorization.Constants.AdministratorsRole))
{
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Welcome</h1>
            <a class="button button-primary" asp-page="Admin/Index">Support Request List</a>
        </div>
    </div>
}


@if (Model.Vm.Count > 0)
{
    <h1 class="display-4 font-italic">Welcome</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Request Type</th>
                <th scope="col">Status</th>
                <th scope="col">Staus Reason</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vm)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.RequestType</td>
                    <td>@item.Status</td>
                    <td>@item.StatusReason</td>
                </tr>
            }
        </tbody>
    </table>

}